<% include partials/header %>


<div id="gif1"><br>
<center><h2 color="red">Know the legend's who changed the world</h2></center>
<div class="wrapper">
  <section id="section1">
    <a href="#section3" class="arrow__btn">‹</a>
    <div class="item">
    <iframe width="320" height="200" src="https://www.youtube.com/embed/3SDkzDlw1yc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <div class="item">
   <iframe width="320" height="200" src="https://www.youtube.com/embed/k9zTr2MAFRg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <div class="item">
  <iframe width="320" height="200" src="https://www.youtube.com/embed/8ID0LkkRI3g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <div class="item">
   <iframe width="320" height="200" src="https://www.youtube.com/embed/uRKeeelqWxw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <div class="item">
    <iframe width="320" height="200" src="https://www.youtube.com/embed/49Xn3edL2DY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    <a href="#section2" class="arrow__btn">›</a>
  </section>
  <section id="section2">
    <a href="#section1" class="arrow__btn">‹</a>
    <div class="item">
   
  </div>
    <div class="item">
    <iframe width="320" height="200" src="https://www.youtube.com/embed/6P2nPI6CTlc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
    
</div>

<h3><hello aman</h3>

</div>
<h4><hello aman</h4>

<% include partials/footer %>